.body {
    background-color: #000000;
    color: #33cc33;
    font-family: 'Courier New', Courier, monospace;
}

p.indent {
    text-indent: 30px;
}

p.first::first-letter {
    color: #ffffff;
}

div {
    width: 75%;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

